* {
    font-family: Inter;
    font-size: 12px;    
    padding: 0px;


}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: full;

}

.flex{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

button {
    height: 38px;
    width: 354px;

  

    border-radius: 4px;
    cursor: pointer;

    border: solid 1px rgb(228, 228, 228);

    font-weight: 500;

    background-color: rgb(108, 195, 253);


}

button:hover {
    background-color: rgb(224, 224, 224);
}

.transparent {
    background-color: transparent;
    border: none;
    height: 15px;
}

.textarea{

    background-color: transparent;
    border: none;

    outline: none;
    
}

.hide{
    display: none;

}


.copy-button {
    color: rgb(27, 27, 25);
    font-weight: bold;

    /* background-color: rgb(52, 255, 137); */
    background-color: rgb(255, 218, 52);
    
    height: 40px;
    width: 230px;
}

.button-div{
    display: flex;

    justify-content: space-between;
    align-items: center;
    justify-items: center;
    
}

.delete-button {  
    color: rgb(255, 255, 255);
    font-weight: bold;

    background-color: rgb(235, 108, 108);

    height: 40px;
    width: 80px;

}

.restore-button {
    color: rgb(0, 0, 0);
    font-weight: bold;

    background-color: rgb(113, 184, 250);

    height: 40px;
    width: 80px;


}

.fonte-manual {
    font-family: "Freehand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    gap: 10px;  


}

.spam{
    background-color: rgb(102, 91, 91);
    color: blanchedalmond;
}

.title {
    font-size: 32px;
    font-weight: 540;
    text-align: center;

    letter-spacing: -1px;

    color: rgb(212, 212, 212);


    
}

.editor-nota {
    display: flex;
    gap: 4px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

input {
    width: 260px;
}

.text-fix{
    font-weight: bold;
    font-size: 20px;

    width: 394px;
 

    border: 1px solid rgb(235, 234, 234);

    border-radius: 8px;

    

    background-color: rgb(255, 255, 255);

    text-indent: 10px;

}

.big {
    font-weight: bold;
    font-size: 18px;
    width: 394px;

    border: 1px solid rgb(235, 234, 234);

    /* border-radius: 8px; */

    border-radius: 4px;

    /* height: 44px; */



    background-color: rgb(255, 255, 255);

    text-indent: 10px;


}

span{
    margin-left: 2px;   
    
}

.square{
    display: flex;
  
}

.simbolos{
    width: 18.8px;
    height: 18.8px;
    border-radius: 4px;   
    display: flex;
    align-content: center;
    justify-content: center; 
    font-size: 12px;

    background-color: rgb(189, 189, 189);
}

.bigTitle {
    font-size: 30px;
    font-weight: bolder;

    text-align: center;
}

.card {

    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;

    background-color: rgb(236, 236, 236);
    width: 400px;

    border-radius: 6px;
    padding: 10px;

    border: solid 1px rgb(224, 224, 224);

    gap: 2px;

    font-weight: 500;
}

.etapas{

    background-color: rgb(252, 22, 61);

    border: none;

    width: auto;

    height: 24px;

    font-size: 16px;

    text-align: center;

    color: rgb(255, 255, 255);

    letter-spacing: -1px;

    font-weight: 700;

    font-style: italic;

    padding-right: 3px;   

   
}

.small-card {

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    justify-items: center;

    background-color: rgb(236, 236, 236);
    width: 350px;

    border-radius: 6px;
    padding: 10px;

    border: solid 1px rgb(228, 228, 228);

}